<h1><%= user.username %></h1>

<a href="/users/<%= user.id %>/designs/new">New design</a>

<% user.designs.forEach((design) => { %>
  <a href="/users/<%= user.id %>/designs/<%= design.id %>">
    <img src="<%= design.image %>" alt="<%= design.name %>" class="show-image">
  </a>
<% }) %>
